language: node_js
node_js:
  - 4.0
  - 4.1
  - 4.2
  - 5

script:
  - if $LINT ; then npm run lint ; else npm run ci:test && npm run ci:cov; fi
env:
  matrix:
    - LINT=true
    - LINT=false
cache:
  directories:
    - node_modules

matrix:
  fast_finish: true
  allow_failures:
    - env: LINT=true

notifications:
  email: false
