doctype html
html(lang="en")
  head
    title Link
    //- script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Link - Give your bookmarks a REST
    #container.col
      p.
        Pending Links is a simple REST server to store links.
      p
        | Documentation of the Api can be retrieved
        a(href="/doc") here
        | .